body {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

#game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    padding: 20px;
}

#timer {
    display: inline-block;
}

.sudoku-grid, .sudoku-grid__box {
    display: grid;
    grid-template-columns: auto auto auto;
}

.sudoku-grid {
    height: 400px;
    width: 400px;
}

.sudoku-grid__box, .sudoku-grid__box__cell {
    border: #000000 1px solid;
}

.sudoku-grid__box__cell__display, .sudoku-grid__box__cell__input {
    font-size: 2em;
    padding: 10px 16px;
    height: 36px;
    width: 18px;
}

.sudoku-grid__box__cell__input {
    display: none;
    width: 16px;
}

.sudoku-grid__box__cell__input:active, .sudoku-grid__box__cell__input:focus {
    padding: 8px 15px;
}

.sudoku-grid__box__cell__input::-webkit-inner-spin-button,
.sudoku-grid__box__cell__input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

button {
    background: #444444;
    padding: 8px 16px;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    margin: 5px;
}

button:hover {
    background: #333333;
    cursor: pointer;
}

button:active {
    background: #000000;
}

#buttons {
    display: flex;
}

/* #buttons button:first-child {
    margin-left: 0;
}

#buttons button:last-child {
    margin-right: 0;
} */

#game-area, #menu {
    margin: 0 auto;
}

#menu > #menu-title {
    text-align: center;
}

#menu > #menu-option {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu-text {
    font-size: 20px;
    color: #4444ff;
}